# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.pnpm-store/

# Diagnostic reports (https://nodejs.org/api/report.html)
.report/

# Node.js
/node_modules

# ide
.vscode
.idea

# runtime files
*.tgz
.npm/
.yarn-cache/
.eslintcache
.vite/
.local/

# environments
.env
.env.local
.env.*.local

# misc
*.swp
*.bak
*.orig
npm-debug.log
yarn-error.log
.DS_Store
Thumbs.db

# Vite build output (if not using 'docs')
/dist